/* topper */

.topper .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 19px;
    /* border-bottom: solid 1px #c4c4c4; */
}

.topper__lng {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 72%;
    color: #323232;
    cursor: pointer;
}

.topper__logo {
    color: #323232;
    font-size: 32px;
    line-height: 72%;
    text-transform: uppercase;
    font-weight: 700;
}

.topper__search {
    cursor: pointer;
}

/* topper */

/* nav */

.nav {
    position: relative;
}

.nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #c4c4c4;
    border-top: 1px solid #c4c4c4;
    padding: 20px 19px;
}

.nav__list {
    display: flex;
    gap: 50px;

    @media (width <= 850px) {
        flex-direction: column;
    }
}

.nav__link {
    color: #323232;
}

.nav__icons {
    display: flex;
    gap: 30px;
}

.nav__icon {
    cursor: pointer;
}

.nav__burger {
    display: none;
}

@media (width <= 850px) {
    .nav__burger {
        position: relative;
        display: flex;
        align-items: center;
        width: 50px;
        height: 20px;
        /* checking nav__burger height */

        &:hover {
            .nav__burer-line {
                background: transparent;

                &::before {
                    transform: rotate(45deg);
                    top: 0;
                    height: 3px;
                    border-radius: 2px;
                }

                &::after {
                    transform: rotate(-45deg);
                    top: 0;
                    height: 3px;
                    border-radius: 2px;
                }
            }

            ~ .nav__menu {
                transform: scale(1);
            }
        }
    }

    .nav__burer-line {
        position: relative;
        width: 100%;
        height: 2px;
        background: rgb(183, 160, 30);
        transition: 0.2s;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: rgb(183, 160, 30);
            left: 0;
            transition: 0.4s;
        }

        &::before {
            top: -10px;
        }

        &::after {
            top: 10px;
        }
    }
}

@media (width <= 850px) {
    .nav__menu {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: rgb(222, 213, 160);
        height: calc(100dvh - 120px);
        min-height: 600px;
        z-index: 2;
        display: grid;
        place-items: center;
        transform: scaleY(0);
        transition: 0.6s;
        transform-origin: top;
    }
}

/* nav */

