nav__burger { 
    display: none; 
} 
 
@media (width <= 1290px) { 
    .nav__burger { 
        position: relative; 
        width: 24px; 
        height: 24px; 
        display: flex; 
        align-items: center; 
    } 
 
    .nav__burger-line { 
        position: relative; 
        width: 17px; 
        height: 3px; 
        background: #1c1c33; 
        display: flex; 
        justify-content: flex-end; 
 
        &::before, 
        &::after { 
            content: ""; 
            position: absolute; 
            width: 24px; 
            background: #1c1c33; 
            height: inherit; 
        } 
 
        &::before { 
            top: -10px; 
        } 
 
        &::after { 
            top: 10px; 
        } 
    } 
} 
 
@media (width <= 1290px) { 
    .nav__content .nav__list { 
        display: none; 
    } 
} 
 
@media (width <= 1290px) { 
    .nav__icons { 
        margin-left: auto; 
    } 
} 
 
@media (width <= 1290px) { 
    .nav .container { 
        gap: 40px 
    } 
} 
 
@media (width <= 636px) { 
    .nav .container { 
        flex-direction: column; 
    } 
} 
 
@media (width <= 636px) { 
    .nav__icons { 
        justify-content: center; 
    } 
} 
 
@media (width <= 414px){ 
    .nav__icons-lng { 
        display: none; 
    } 
}